body {
  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
    text-decoration: none;
}

.main-navigation {
  font-weight: 700;
  color: #333333;
  line-height: 26px;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #333333;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.3;
}

.intro-block {
  width: 1200px;
  height: 508px;
  background-color: #81b3d2;
}

.intro-picture {
  height: 508px;
  background:
  url("../img/intro-mask.svg") no-repeat 0px 452px,
  url("../img/intro-welcome.svg") no-repeat 375px 76px / 459px 353px,
  url("../img/background-photo.jpg") no-repeat 0px -85px
}


.heading-regular {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.slogan {
  line-height: 26px;
}

.benefits-item {
  text-align: center;
}

.heading-huge {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.search-section {
  text-align: center;
}

.hotel-search-form,
.hotel-search-input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-search-input {
  background-color: #f2f2f2;
}

.hotel-search-input:hover {
  background-color: #ebebeb;
}

.hotel-search-input:active {
  background-color: #ffffff;
}

.blue-back {
  color: #ffffff;
  background-color: #81b3d2;
}

.grey-back {
  background-color: #eeeeee;
}

.reasons-list {
  list-style: none;
  padding: 0px;
}

.city-benefits-list {
  list-style: none;
  padding: 0px;
}

.button {
  font: inherit;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover {
   background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.form-roll-button {
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.hotel-search-form {
  width: 568px;
  height: 395px;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  border: 1px;
}

.hotel-search-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  height: 58px;
}


.background-blurred {
  width: 1200px;
  height: 217px;
  background:
    url("../img/filter-background.jpg")
    no-repeat
    center;
}

fieldset {
  background-color: #81b3d2;
}
.filter-section {
  color: #ffffff;
}

.white-heading {
  font-weight: 700;
  background-color: #81b3d2;
}

#price-from, #price-to {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
  color: inherit;
}

.white-border {
  background-color: #81b3d2;
  border-color: white;
  border: 1px;
}
.sorting-block {
  font-size: 12px;
}

.filter-show-button {
  background-color:  #81b3d2;
	border: none;
	padding: 0;
	cursor: pointer;
  text-transform: uppercase;
  color: inherit;
}

.filter-show-button:active {
  color: #000000;
  background-color: #ffffff;
}

.sort-button {
  background: none;
  opacity: 0.3;
	border: none;
	padding: 0;
	cursor: pointer;
  text-transform: uppercase;
}

.sort-button:hover {
  color: #81b3d2;
  opacity: 1;
}

.sort-button:active {
  color: #000000;
  opacity: 1;
}

.desc-button, .asc-button{
  width: 11px;
  height: 10px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.asc-button {
  background: url("../img/icon-up-dir.svg")
  no-repeat;
}

.desc-button {
  background: url("../img/icon-down-dir.svg")
  no-repeat;
}

.asc-button:hover {
    background: url("../img/icon-up-dir-hover.svg")
    no-repeat;
}

.asc-button:active {
  background: url("../img/icon-up-dir-active.svg")
  no-repeat;
}

.desc-button:hover {
  background: url("../img/icon-down-dir.svg")
  no-repeat;
}

.desc-button:active {
  background: url(".../img/icon-down-dir-active.svg")
}

.sorting-options {
  list-style: none;
}

.hotels-list {
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.result-heading, .hotel-name {
  text-align: left;
}

.result-item {
  font-size: 14px;
  line-height: 21px;
}

.rating-block {

}

.rating-value {
  width: 110px;
  height: 27px;
  background-color: #f2f2f2;
  color: #666666;
  text-align: center;
  vertical-align: middle;
}

.filter-list {
  list-style: none;
}


.contacts {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.social-back {
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-back:hover {
  background-color: #669ec0;
}

.social-back:active {
    background-color: #5496bd;
  }

.social-icon-twitter {
  height: 48px;
  background:
      url("../img/tw-icon.svg")
      no-repeat
      center center / 17px 15px;
}

.social-icon-twitter:active {
  opacity: 0.3;
}

.social-icon-facebook {
  height: 48px;
  background:
      url("../img/fb-icon.svg")
      no-repeat
      center center / 12px 22px;
}

.social-icon-facebook:active {
  opacity: 0.3;
}

.social-icon-youtube {
  height: 48px;
  background:
      url("../img/youtube-icon.svg")
      no-repeat
      center center / 20px 16px;
}

.social-icon-youtube:active {
  opacity: 0.3;
}

.copyright-block {
  font-size: 14px;
  line-height: 26px;
  width: 115px;
}

.copyright-block a {
  color: black;
}

.htmlacademy-logo {
  width: 115px;
  height: 41px;
  background:
    url("../img/logo-htmlacademy.svg")
    no-repeat;
}

.htmlacademy-logo:hover {
  background-image:
    url("../img/logo-htmlacademy-hover.svg");
}

.htmlacademy-logo:active {
  background-image: url("../img/logo-htmlacademy-active.svg");
}
