*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'PT Sans', Arial, sans-serif;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-wrapper {
  width: 1200px;
  margin: auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.content-wrapper-index {
  text-align: center;
}

.content-wrapper-hotels {
  text-align: left;
}

.main-navigation {
  position: relative;
  width: 1200px;
  padding: 0;
  font-weight: 700;
  color: #333333;
  line-height: 26px;
  min-height: 55px;
  height: 56px;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1200px;
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 56px;
}

.site-navigation>li {
  display: block;
  width: 239px;
  letter-spacing: normal;
  line-height: 26px;
}

.nav-info,
.nav-gallery {
  text-align: left;
}

.nav-housing,
.nav-map {
  text-align: right;
}

.nav-info {
  margin-left: 72px;
}

.nav-gallery {
  margin-left: 2px;
}

.nav-map {
  margin-left: 0px;
}

.nav-housing {
  margin-left: 5px;
  margin-right: 72px
}

.nav-gallery {
  margin-right: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.intro-picture {
  width: 1200px;
  height: 508px;
  margin-bottom: 59px;
  background-color: #81b3d2;
  background:
    url("../img/intro-mask.svg") no-repeat 0px 452px,
    url("../img/background-photo.jpg") no-repeat 0px -83px
}

.welcome-text-picture {
  margin-top: 77px;
}

.heading-regular {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.slogan {
  width: 440px;
  height: 48px;
  line-height: 26px;
  margin: auto;
  margin-bottom: 35px;
}

.benefits-intro-text {
  width: 500px;
  margin: auto;
  margin-bottom: 54px;
  letter-spacing: 0.1px;
}

.benefits-item-wrapper {
  width: 1200px;
  min-height: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #81b3d2;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefits-list {
  width: 1200px;
  list-style: none;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.benefits-item {
  width: 400px;
  padding-bottom: 15px;
}

.benefit-picture {
  width: 800px;
  height: 256px;
  margin: 0;
  padding: 0;
}

.benefit-backward {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.features-list {
  width: 1200px;
  padding: 0;
  margin-top: 142px;
  margin-bottom: 60px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.features-item {
  width: 400px;
  position: relative;
  padding: 0 57px;
}

.features-item p {
  width: 290px;
  min-height: 50px;
}

.features-icon::before {
  content: "";
}

.housing-icon::before {
  bottom: 108%;
  left: 41%;
  position: absolute;
  width: 75px;
  height: 72px;
  background: url("../img/housing-icon.svg") no-repeat;
}

.eat-icon::before {
  bottom: 108%;
  left: 41%;
  position: absolute;
  width: 74px;
  height: 70px;
  background: url("../img/eat-icon.svg") no-repeat;
}

.souvenirs-icon::before {
  bottom: 108%;
  left: 43%;
  -webkit-transform: translateX(-2px);
  -ms-transform: translateX(-2px);
  transform: translateX(-2px);
  position: absolute;
  width: 64px;
  height: 76px;
  background: url("../img/souvenir-icon.svg") no-repeat;
}

.heading-white {
  font-weight: 700;
  color: #ffffff;
}

.heading-huge {
  width: 305px;
  margin: auto;
  margin-top: 51px;
  margin-bottom: 22px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.blue-back {
  padding: 24px 48px;
  color: #ffffff;
  background-color: #81b3d2;
}

.grey-back {
  padding: 0px 60px;
  padding-top: 26px;
  background-color: #eeeeee;
  width: 400px;
  min-height: 255px;
}

.benefit-heading {
  width: 100%;
  padding: 0 61px;
  margin-bottom: 24px;
}

.benefit-description {
  margin-top: 21px;
  min-height: 80px;
}

.blue-back p {
  margin-top: 23px;
}

.button {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #766357;
  border: none;
}

.button:hover {
  background-color: #604e43;
}

.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.button-blue {
  background-color: #81b3d2;
}

.button-blue:hover {
  background-color: #669ec0;
}

.button-blue:active {
  background-color: #5496bd;
}

.search-footer-wrapper {
  width: 1200px;
  position: relative;
}

.map-background {
  position: relative;
  width: 1200px;
  height: 593px;
  background-image: url('../img/map.png')
}

.search-intro-text {
  width: 463px;
  line-height: 26px;
  margin: auto;
}

.form-roll-button {
  margin-top: 45px;
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}

.form-close {
  display: none;
}

.form-show-animated {
  -webkit-animation: fade-in-down 0.5s;
  animation: fade-in-down 0.5s;
}

.map-iframe {
  position: absolute;
  right: 0px;
  z-index: 1;
}

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0)
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
}

.hotel-search-form,
.hotel-search-input {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-search-input {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 346px;
  height: 38px;
  border: 0;
  padding: 0 37px;
  padding-left: 13px;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.hotel-search-form {
  position: absolute;
  left: 316px;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: auto;
  padding-bottom: 56px;
  padding-top: 56px;
  padding-left: 51px;
  padding-right: 49px;
  letter-spacing: 0.6px;
  border: 1px;
  width: 568px;
  height: 395px;
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
  background-color: #ffffff;
}

.form-items-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.form-item {
  margin-bottom: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotel-search-input:hover {
  background-color: #ebebeb;
}

.hotel-search-input:focus {
  background-color: #ffffff;
}

.checkin-input-container {
  position: relative;
}

.checkin-input-container>label {
  margin-right: 19px;
}

.checkout-input-container {
  position: relative;
}

.inputs-label {
  margin-right: 15px;
  margin-left: 2px;
}

.checkout-input-label {
  margin-right: 15px;
}

.input-calendar {
  position: absolute;
  right: 2px;
  top: 6px;
  background: none;
  border: none;
  cursor: pointer;
}

.input-calendar path {
  fill-opacity: 0.3;
}

.input-calendar:hover path,
.input-calendar:focus path {
  fill-opacity: 1;
}

.input-calendar:active path {
  fill-opacity: 1;
  fill: #669ec0;
}

.grownups-input-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin-right: 37px;
  margin-bottom: 55px;
}

.kids-input-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.kids-input-label {
  margin-left: 15px;
  margin-right: 23px;
}

.grownups-input-label {
  margin-right: 33px;
}

.number-input {
  width: 114px;
  padding-left: 53px;
  padding-top: 2px;
}

.input-less, .input-more {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.input-less {
  top: 9px;
  right: 79px;
}

.input-more {
  top: 9px;
  right: 13px;
}

.input-less::before,
.input-more::before,
.input-more::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 10px;
  width: 11px;
  height: 3px;
  background-color: #ababab;
}

.input-more::before,
.input-more::after {
  top: 9px;
  right: 1px;
  width: 11px;
  height: 3px;
}

.input-more::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.input-less:hover:before,
.input-more:hover::before,
.input-more:hover::after {
  background-color: #000000;
}

.input-less:focus:before,
.input-more:focus::before,
.input-more:focus::after {
  background-color: #000000;
}

.input-less:active:before,
.input-more:active::before,
.input-more:active::after {
  background-color: #81b3d2;
}

.hotel-search-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  width: 458px;
  height: 58px;
}

.background-blurred {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1200px;
  height: 217px;
  background:
    url("../img/filter-background.jpg") no-repeat center;
  letter-spacing: 0.2px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  width: 1200px;
  min-height: 217px;
  font-size: 14px;
}

.infrastructure,
.housing-type,
.price-filter {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 27px;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.infrastructure {
  width: 139px;
  margin-right: 118px;
  margin-left: 70px;
}

.infrastructure legend,
.housing-type legend {
  margin-bottom: 25px;
}

.white-heading {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.housing-type {
  width: 137px;
  letter-spacing: 0.2px;
}

.filter-option {
  margin-bottom: 25px;
  margin-left: 41px;
}

.filter-option:last-child {
  margin-bottom: 0px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.filter-option-checkbox+label::before {
  content: "";
  position: absolute;
  right: 110px;
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat;
}

.filter-option-checkbox:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.filter-option-checkbox:checked+label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.price-filter {
  width: 317px;
  margin-left: 346px;
}

.price-filter-heading {
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  position: absolute;
  right: 49%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: "";
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 28px;
  vertical-align: top;
  cursor: pointer;
}

.price-from,
.price-to {
  width: 155px;
  padding-left: 64px;
}

.price-to {
  padding-left: 56px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.filter-section {
  margin: auto;
  color: #ffffff;
}

.white-border {
  border-color: white;
  border: 1px;
}

.sorting-section {
  width: 1200px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sorting-section {
  font-size: 12px;
}

.result-heading {
  margin-right: 49px;
  margin-left: 72px;
}

.filter-show-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 8px 34px;
  margin: 0px 84px;
  cursor: pointer;
  text-transform: uppercase;
  color: inherit;
  background-color: transparent;
}

.filter-show-button:active {
  color: #000000;
  background-color: #ffffff;
}

.sort-button {
  background: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: dotted;
  border-bottom-color: #81b3d2;
  border-bottom-width: 1px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

.sort-button:hover {
  color: rgba(129, 179, 210, 1);
}

.sort-button:active {
  color: rgba(0, 0, 0, 1);
  border: 0;
}

.asc-desc-buttons {
  margin-top: 5px;
}

.desc-button, .asc-button {
  width: 11px;
  height: 10px;
  border: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.asc-button {
  background: url("../img/icon-up.svg") no-repeat;
  margin-right: 8px;
}

.desc-button {
  margin-top: 1px;
  background: url("../img/icon-down.svg") no-repeat;
}

.asc-button:hover {
  background: url("../img/icon-up-hover.svg") no-repeat;
}

.desc-button:hover {
  background: url("../img/icon-down-hover.svg") no-repeat;
}

.asc-button:active {
  background: url("../img/icon-up-active.svg") no-repeat;
}

.desc-button:active {
  background: url("../img/icon-down-active.svg") no-repeat;
}

.sorting-options {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-right: 235px;
  margin-left: -2px;
}

.sorting-options p {
  margin: 0;
  margin-right: 43px;
}

.sorting-options li {
  margin-right: 33px;
}

.hotels-list {
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 21px;
}

.hotels-list {
  width: 1200px;
  margin: 0;
}

.hotels-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  padding: 29px 72px;
  padding-right: 71px;
}

.hotels-list li:first-child {
  border-top: 1px solid #e5e5e5;
}

.housing-image {
  margin-right: 30px;
  width: 135px;
  height: 90px;
}

.hotel-name {
  display: block;
  max-width: 400px;
  color: #333333;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: #000000;
  opacity: 0.3;
}

.item-specs {
  width: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 17px;
}

.item-type, .item-price {
  margin-bottom: 0px;
  margin-top: 0px;
}

.rating-block {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.rating-stars-container {
  margin-bottom: 44px;
}

.rating-star {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 17px;
  background: url("../img/star.svg") no-repeat;
}

.result-item {
  font-size: 14px;
  line-height: 21px;
}

.result-item a.button {
  margin-right: 2px;
  padding: 0px 17px;
  padding-top: 6px;
  padding-bottom: 4px;
}

.rating-value {
  width: 110px;
  height: 27px;
  padding: 3px;
  margin: 0px;
  background-color: #f2f2f2;
  color: #666666;
  text-align: center;
  vertical-align: middle;
}

.filter-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-wrapper {
  position: relative;
}

.main-footer {
  width: 1200px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.main-footer-index {
  position: absolute;
  top: -120px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 3;
}

.contacts {
  width: 400px;
  padding-left: 129px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.contacts-index {
  padding-left: 124px;
}

.contacts-hashtag,
.contacts-phone {
  margin-top: 1px;
  margin-bottom: 2px;
}

.phone {
  color: inherit;
}

.social-icons-list {
  width: 400px;
  padding-left: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social-icon {
  display: block;
  position: relative;
  margin-right: 6px;
  width: 46px;
  height: 46px;
  background-color: #81b3d2;
}

.social-icon:hover {
  background-color: #669ec0;
}

.social-icon-twitter::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 14px;
  width: 17px;
  height: 15px;
  background: url(../img/tw-icon.svg) no-repeat center center / 17px 15px;
}

.social-icon-twitter:active::before {
  opacity: 0.3;
}

.social-icon-facebook::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 17px;
  width: 12px;
  height: 22px;
  background:
    url("../img/fb-icon.svg") no-repeat center center / 12px 22px;
}

.social-icon-facebook:active::before {
  opacity: 0.3;
}

.social-icon-youtube::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 14px;
  width: 20px;
  height: 16px;
  background:
    url("../img/youtube-icon.svg") no-repeat center center / 20px 16px;
}

.social-icon-youtube:active::before {
  opacity: 0.3;
}

.copyright-block {
  position: relative;
  display: block;
  width: 400px;
  height: 41px;
  padding-left: 185px;
  font-size: 14px;
  line-height: 26px;
}

.copyright-span {
  position: absolute;
  top: 7px;
  right: 223px;
  color: #000000;
  padding: 0px;
  vertical-align: middle;
}

.copyright-block:hover path {
  fill: #81b3d2;
}

.copyright-block:active path {
  fill: #bdbbbc;
}
